@charset "utf-8";
/* CSS Document */
.main .main1 .main1_bottom{color:#8a8a8a; font-size:18px;  }
.main .main1 .main1_bottom .main1_bottom_left{float:left; padding-bottom:38px; padding-top:34px; text-indent:1em;}
.main .main1 .main1_bottom .main1_bottom_right{float:left; line-height:100px; text-indent:5px;}

